@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

:root {
  --primary: #4d5bce;
  --secondary: #607b96;
}

#root {
  background-color: #010c15;
  height: 100vh;
  margin: 0;
  padding: 3rem;
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

.Typewriter__wrapper {
  color: #4d5bce;
  font-size: 32px;
  line-height: 42px;
}

.Typewriter__cursor {
  color: white;
  font-size: 25px;
}

pre {
  background-color: transparent !important;
}

.heart {
  color: #dc2626;
}

@media screen and (max-width: 600px) {
  .Typewriter__wrapper {
    font-size: 20px;
  }
  .Typewriter__cursor {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 992px) {
  #root {
    padding: 1.2rem;
  }
}
